body {
  #pageMainContent {
    #wireframesContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        margin: 20px;
        padding: 20px;
        width: 30%;
        background-color: #dfdfdf;
        color: #1a1a1a;
        text-decoration: none;
        border-radius: 6%;
        transition: transform 0.3s ease;
        .wireframeArticle {
          display: flex;
          flex-direction: column;
          gap: 20px;
          img {
            width: 100%;
          }
        }
      }
      a:hover {
        transform: scale(1.05);
      }
    }
  }
}
